
.table-view {
    -fx-background-color: #f0f0f0; 
}


.table-row-cell:selected {
    -fx-background-color: #cce6ff; 
}


.combo-box {
    -fx-background-color: #e6ffe6; 
}


.vbox {
    -fx-padding: 20px; 
    -fx-spacing: 10px; 
}
